<template>
  <q-item :to="`/books/${content.id}`">
    <div>
      Title: {{ content.name }} <br />
      Author: {{ content.author }} <br />
      ID: <span class="bookId">{{ content.id }}</span> <br />
      Created: {{ content.timestamp.toDate() }}
    </div>
  </q-item>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      default: () => {}
    }
  }
};
</script>

<style lang="scss" scoped></style>
