// app global css

.light-mode {
    color: black;
}

.dark-mode {
    color: white;
}


.dark-mode::selection {
  background: teal; /* WebKit/Blink Browsers */
}
.dark-mode::-moz-selection {
  background: teal; /* Gecko Browsers */
}