<template>
  <pre :class="$store.getters.isDark ? 'dark' : 'light'">
    <slot></slot>
  </pre>
</template>

<script>
export default {};
</script>

<style scoped>
pre {
  border-radius: 10px;
  padding: 10px;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: beige;
  color: black;
}
</style>
