<template>
  <q-expansion-item
    :dark="$store.getters.isDark"
    expand-separator
    label="Account settings"
  >
    <template slot="header">
      <page-text
        ><strong>
          {{ header }}
        </strong> </page-text
      ><q-space />
    </template>
    <div class="inner-content">
      <slot></slot>
    </div>
  </q-expansion-item>
</template>

<script>
export default {
  props: {
    header: {
      type: String,
      default: ""
    }
  }
};
</script>

<style lang="css" scoped>
p {
  font-size: 1.25rem;
  margin-bottom: 0px;
}
.inner-content {
  padding: 20px;
}
</style>
