<template>
  <q-header
    :style="
      $store.getters.isDark
        ? 'background:linear-gradient(45deg, purple , teal)'
        : 'background:linear-gradient(135deg, red, orange)'
    "
  >
    <q-toolbar>
      <q-btn
        flat
        dense
        round
        @click="$store.commit('toggleLeftDrawer')"
        aria-label="Menu"
      >
        <q-icon name="menu" />
      </q-btn>

      <q-toolbar-title>Quasar Firebase</q-toolbar-title>
      <q-btn-dropdown unelevated :icon="currentIcon" v-model="loginDropDown">
        <q-list v-if="!currentUser">
          <q-item clickable @click="$router.push('/login')">
            <q-item-section avatar>
              <q-icon name="vpn_key"></q-icon>
            </q-item-section>
            <q-item-section>Login</q-item-section>
          </q-item>

          <q-item clickable @click="$router.push('/signup')">
            <q-item-section avatar>
              <q-icon name="person"></q-icon>
            </q-item-section>
            <q-item-section>Sign Up</q-item-section>
          </q-item>
        </q-list>

        <q-list v-else>
          <q-item>
            <q-item-section>{{ currentUser.email }} </q-item-section>
          </q-item>
          <q-item clickable @click="logOff">
            <q-item-section avatar>
              <q-icon name="exit_to_app"></q-icon>
            </q-item-section>
            <q-item-section>Log Off</q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
    </q-toolbar>
  </q-header>
</template>

<script>
export default {
  components: {},
  created() {
    this.$fb.auth().onAuthStateChanged(user => {
      this.currentUser = user;
    });
  },
  data() {
    return {
      loginDropDown: false,
      visible: false,
      currentUser: null
    };
  },
  methods: {
    logOff() {
      // this.$store.commit("toggleLoginMenu");
      this.$fb
        .auth()
        .signOut()
        .then(() => {
          this.$router.push("/");
          this.$router.go();
        });
    }
  },
  computed: {
    currentIcon() {
      return this.currentUser !== null ? "account_circle" : "menu";
    }
  }
};
</script>

<style lang="scss" scoped></style>
