<template>
  <q-drawer
    @hide="hideDrawer"
    v-model="leftDrawerOpen"
    content-class="bg-grey-3"
  >
    <q-list>
      <q-item-label header>Essential Links</q-item-label>
      <left-menu-link label="Home" to="/" icon="home" caption="Start here" />
      <left-menu-link
        label="Books"
        to="/books"
        icon="assignment"
        caption="Books from Firestore"
      />
      <!-- <q-expansion-item
        :content-inset-level="0.5"
        expand-separator
        icon="assignment"
        label="More"
        caption="Container for nested items"
      >
        <left-menu-link
          label="Nested"
          to="/nested/link"
          icon="offline_bolt"
          caption="A nested menu item"
        />
      </q-expansion-item> -->

      <left-menu-link
        label="Settings"
        to="/settings"
        icon="settings"
        caption="Settings"
      />
      <left-menu-link
        label="Profile"
        to="/profile"
        icon="account_circle"
        caption="Your profile"
      />
    </q-list>
  </q-drawer>
</template>

<script>
export default {
  computed: {
    leftDrawerOpen: {
      get() {
        return this.$store.getters.leftDrawerOpen;
      },
      set() {}
    }
  },
  methods: {
    hideDrawer() {
      this.$store.commit("toggleLeftDrawer", {
        leftDrawerOpen: false
      });
    },
    toggleLeftDrawer() {
      this.$store.commit("toggleLeftDrawer");
    }
  }
};
</script>

<style lang="scss" scoped></style>
