<template>
  <div>
    <q-carousel
      v-model="slide"
      transition-prev="scale"
      transition-next="scale"
      swipeable
      animated
      control-color="white"
      navigation
      padding
      arrows
      height="300px"
      :class="
        `text-white shadow-1 rounded-borders ${
          $store.getters.isDark ? 'carousel-dark' : 'carousel-light'
        }`
      "
    >
      <q-carousel-slide name="first" class="column no-wrap flex-center">
        <q-icon name="assignment" size="56px" />
        <div class="q-mt-md text-center">
          Quasar and Firebase Examples
        </div>
        <br />
        <q-btn to="/books">Go to Books</q-btn>
      </q-carousel-slide>
      <q-carousel-slide name="guide" class="column no-wrap flex-center">
        <q-icon name="art_track" size="56px" />
        <div class="q-mt-md text-center">
          More examples coming soon!
        </div>
        <br />
      </q-carousel-slide>
      <q-carousel-slide name="start" class="column no-wrap flex-center">
        <q-icon name="code" size="56px" />
        <div class="q-mt-md text-center">
          View source code
        </div>
        <br />
        <q-btn
          type="a"
          href="https://gitlab.com/verbose-equals-true/quasar-firebase"
          >See source code on GitLab</q-btn
        >
      </q-carousel-slide>
    </q-carousel>
  </div>
</template>

<script>
export default {
  data() {
    return {
      slide: "first"
    };
  }
};
</script>

<style scoped>
.carousel-light {
  background: linear-gradient(270deg, red, orange);
}
.carousel-dark {
  background: linear-gradient(270deg, purple, teal);
}
</style>
