<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
  created() {
    if (this.$q.platform.is.desktop) {
      this.$store.commit("toggleLeftDrawer");
    }
  }
};
</script>

<style></style>
