<template>
  <base-page>
    <page-header
      >CRUD actions for <code>{{ $route.params.id }}</code></page-header
    >
    <page-sub-header>Read</page-sub-header>
    <page-text>
      This page demonstrates displaying the data of one "book". The URL
      parameters is the book ID, and we use this to directly query the database
    </page-text>
    <page-text id="details" v-if="details.id">
      Book details:
      <!-- prettier-ignore -->
      <base-pre v-if="details.id">{
      id: "{{ details.id }}",
      name: "{{ bookName }}",
      author: "{{ bookAuthor }}",
      timestamp: "{{ timeStamp }}"
    }</base-pre>
    </page-text>
    <page-text v-else>
      No book found for {{ $route.params.id }}
      <br />
      <q-btn :to="`/books`">View all Books</q-btn>
    </page-text>
    <page-text v-if="details.id">
      <page-sub-header>Delete</page-sub-header>
      <page-text>
        The button below will delete this book document and redirect the user to
        the books page.
      </page-text>
      <q-btn @click="deleteBook" color="red"
        >Delete Book &nbsp;<q-icon color="white" name="delete"
      /></q-btn>
    </page-text>
  </base-page>
</template>

<script>
export default {
  data() {
    return {
      details: {
        id: null
      }
    };
  },
  computed: {
    bookName() {
      return this.details.data().name;
    },
    bookAuthor() {
      return this.details.data().author;
    },
    timeStamp() {
      return this.details.data().timestamp.toDate();
    }
  },
  created() {
    this.details = this.$db
      .collection("books")
      .doc(this.$route.params.id)
      .get()
      .then(book => {
        if (book.exists) {
          this.details = book;
        }
      })
      .catch(() => {
        console.error("no book found");
      });
  },
  methods: {
    deleteBook() {
      this.$db
        .collection("books")
        .doc(this.$route.params.id)
        .delete()
        .then(() => {
          this.$q.notify("Book deleted.");
          this.$router.push("/books");
        })
        .catch(() => {
          console.error("no book found");
        });
    }
  }
};
</script>

<style scoped>
.json {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
}
</style>
