<template>
  <base-page>
    <page-header>Books from Firestore ({{ $store.getters.count }})</page-header>
    <page-text>
      The "books" listed below are visible to all users (authenticated and
      unauthenticated).
    </page-text>
    <page-text v-if="!initialized">
      Loading books from Firestore...
    </page-text>
    <div class="books" v-else>
      <base-card v-for="(book, i) in books" :key="i">
        <book :content="book" />
      </base-card>
    </div>
    <q-btn id="add" text-color="black" color="white" @click="write"
      >Add a random book</q-btn
    >
    &nbsp;
    <q-btn @click="deleteAll" color="red">Delete All Books</q-btn>
  </base-page>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      initialized: false
    };
  },
  computed: {
    ...mapState({
      books: state => state.books.books
    })
  },
  mounted() {
    this.$store.dispatch("bindBooksRef", { vm: this }).then(() => {
      this.initialized = true;
    });
  },
  destroyed() {
    this.$store.dispatch("unbindBooksRef");
  },
  methods: {
    deleteAll() {
      this.$q.notify("Not implemented yet...");
    },
    write() {
      // TODO: restrict book creation to authenticated users
      this.$db.collection("books").add({
        name: "1984",
        author: "brian",
        timestamp: this.$fb.firestore.FieldValue.serverTimestamp()
      });
    }
  }
};
</script>

<style scoped>
.books {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-bottom: 20px;
}
</style>
