<template>
  <base-page>
    <page-header>Quasar Firebase</page-header>
    <home-carousel></home-carousel>
    <br />
  </base-page>
</template>

<style>
.my-card {
  width: 100%;
  max-width: 400px;
}
</style>

<script>
import HomeCarousel from "components/carousel/HomeCarousel.vue";
export default {
  components: {
    HomeCarousel
  },
  name: "PageIndex",
  methods: {
    getStyle() {
      return { color: "white" };
    }
  }
};
</script>
