<template>
  <base-page>
    <page-header>
      Profile
      <div class="profile-options">
        <q-input
          v-model="firstName"
          label="First Name"
          :dense="true"
          outlined
          :dark="$store.getters.isDark"
        ></q-input>
        <q-input
          pattern="[0-9]*"
          v-model="age"
          label="Age"
          :dense="true"
          outlined
          :dark="$store.getters.isDark"
        ></q-input>
      </div>
    </page-header>
  </base-page>
</template>

<script>
export default {
  data() {
    return {
      firstName: null,
      age: null
    };
  }
};
</script>

<style scoped>
.profile-options {
  margin-top: 10px;
  max-width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 600px));
  grid-gap: 10px;
}
</style>
