<template>
  <base-page>
    <q-toggle v-model="darkMode" color="teal">
      <span :class="$store.getters.isDark ? 'dark-mode' : 'light-mode'"
        >Dark Mode</span
      ></q-toggle
    >
  </base-page>
</template>

<script>
export default {
  computed: {
    darkMode: {
      get() {
        return this.$store.getters.isDark;
      },
      set() {
        this.$store.commit("toggleDarkMode");
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
