<template>
  <q-form @submit="register">
    <q-input
      :color="$store.getters.isDark ? 'black' : 'primary'"
      :dark="$store.getters.isDark"
      id="email"
      v-model="email"
      type="text"
      label="Email"
      autofocus
    />
    <q-input
      :color="$store.getters.isDark ? 'black' : 'primary'"
      :dark="$store.getters.isDark"
      id="password"
      type="password"
      v-model="password"
      label="Password"
    />

    <q-card-actions align="right" class="text-primary">
      <q-btn
        :color="$store.getters.isDark ? 'black' : 'primary'"
        id="login-btn"
        flat
        label="Login"
        type="submit"
        v-close-popup
      />
    </q-card-actions>
  </q-form>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    register() {
      this.$login(this.email, this.password).then(() => {
        this.$q.notify({
          title: "User registered",
          message: "Welcome back!"
        });
      });
    }
  }
};
</script>

<style lang="scss" scoped></style>
